*{
    margin: 0;
    padding: 0;
}

.Advertisement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1000px;
    padding: 30px;
}

.Advertisement_Image {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

.Advertisement_Image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.Advertisement_Info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 70%;
}

.Advertisement_Text_Conteiner {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.current_Item_Condition {
    font-size: 16px;
    font-weight: bold;
    color: #888;
}

.item_Location {
    font-size: 14px;
    color: #777;
}

.Advertisement_Cost {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: right;
}

@media (max-width: 1000px){
    .Advertisement {
        width: 90%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .Advertisement_Image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .Advertisement_Info {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .Advertisement_Text_Conteiner {
        font-size: 16px;
    }

    .current_Item_Condition,
    .itemLocation {
        font-size: 14px;
    }

    .Advertisement_Cost {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }
}