.button {
  border-radius: 50px;
  width: 30%;
  height: 30px;
  border: none;
  background-color: #0156ff;
  color: #fff;
  transition: all 0.1s ease-in-out;
  outline: none;
}

.button:focus, .button:hover {
  border-radius: 50px;
  width: 30%;
  height: 30px;
  border: 3px solid #0156ff;
  background-color: #fff;
  color: #0156ff;
  transition: all 0.1s ease-in-out;
  background-color: rgba(194, 207, 255, 0.20); /* for auth pages*/
}

/* .button:hover {
  background-color: #0145cc;
} */