footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
    padding: 40px 0;
    flex-wrap: wrap;
    position: relative; /* Змінено з absolute на relative */
    bottom: 0;
}

footer ul.list, footer ul.list_left{
    padding: 0;                  
    padding-inline: 5em;
    list-style: none;
    margin: 0;
}

.footer_header{
    color: #fff;
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 20px;
}

footer a.link {
    text-decoration: none;
    color: #aaa;
    transition: all 0.2s ease;
}

footer li.list_element, footer li.list_element_left{
    margin: 16px 0;
    color: #aaa;
    line-height: 1.5;
}

footer li.list_element a.link:hover, 
footer li.list_element a.link:focus, footer li.list_element_left a.link:hover,
footer li.list_element_left a.link:focus {
    color: white;
    font-weight: bold;
    outline: none;
}

.side, .side_left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    padding: 0 20px;
}

.span_footer {
    color: #01A4FF;
}

/* Адаптивність */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 30px 10px;
    }
    
        footer ul.list {
            padding-inline: unset;
        }

        .side_left {
            margin-bottom: 16px;
        }
    
        .list_element_left {
            width: calc((100% - 20px) / 3);
        }
        footer li.list_element_left {
         line-height: 1.2;
        }
        footer ul.list_left {
            padding-inline: unset;
        }
                footer a.link {
                    color: #fff;
                }

        .list_left {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

                footer li.list_element_left {
                    margin: unset;
                }
        
        .link {
            font-size: 10px;
        }
         .footer_header {
            color: #aaa;
         }
         
        footer li.list_element {
           color: #fff;
           margin: 6px 0;
        }

         .list_element {
            font-size: 8px;
         }
}