/* хз був з початку проекту */
/* .App {
  text-align: center;
} */
/* стилі з home -> login */
.navigation {
  display: flex;
  margin-left: 150px;
  white-space: nowrap;
}
.navigation h1 {
  display: inline;
  font-size: 12px;
}

/* новий користувач? */
.divForNewCust {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #f5f7ff;
  width: 600px;
  height: 500px;
  gap: 25px;
  margin-left: 55px;
  margin-top: 20px;
  float: left;
  width: 45%;
}

/* логін */
.registration {
  display: flex;
  flex-direction: column;
  background-color: #f5f7ff;
  width: 600px;
  height: 500px;
  gap: 25px;
  justify-content: center;
  padding-left: 55px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

/*червона зірочка вище інпутів*/
.zirochkaRed {
  color: red;
  margin-left: 4px;
  display: inline-block;
}
.alighElRegist,
.registration > div {
  margin-bottom: 20px;
}

.h1InReg {
  font-size: 16px;
  margin-bottom: 4px;
  display: inline-block;
}

/*ввід даних стилі для 4 інпутів*/
input {
  width: 100%;
  max-width: 550px;
  height: 27px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.h1InReg {
  align-items: start;
  display: inline;
  font-size: 12px;
}
/* стилі для кнопки */
button {
  margin-top: 20px;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #0156ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
/* зробити легші анімації */
